@model asp.net_nvc_movies.ModelView.MoviesModelView

@{
    ViewBag.Title = "AddDir";
}

<h2>Add Dir</h2>

<div id="Director">

    <i>NameDirector:</i> @Html.TextBoxFor(m => m.directors.NameDirector)<i style="color:red"> @Html.ValidationMessageFor(x => x.directors.NameDirector)</i>
    <br />
    <input id="B_Director" type="button" class="left" value="More Director" onclick="moreDir()" />
    <br /><br />
    <input id="add" type="button" value="Add Movie" onclick="SendData()" />

</div>