@model asp.net_nvc_movies.ModelView.MoviesModelView

@{
    ViewBag.Title = "AddStar";
}

<h2>AddStar</h2>

<div id="star">


    <i>Namestar:</i> @Html.TextBoxFor(m => m.stars.Namestar)
    <i style="color:red"> @Html.ValidationMessageFor(x => x.stars.Namestar)</i>
    <br />
    <input id="B_image" type="button" class="right" value="More star" onclick="morestar()" /><br />

</div>