
asp.net-nvc-movies/asp.net-nvc-movies/obj/Debug/asp.net-nvc-movies.csproj.CoreCompileInputs.cache
asp.net-nvc-movies/.vs/asp.net-nvc-movies/v15/.suo
asp.net-nvc-movies/.vs/asp.net-nvc-movies/v15/Server/sqlite3/storage.ide-wal
asp.net-nvc-movies/asp.net-nvc-movies/asp.net-nvc-movies.csproj.user
