@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IMDB</h1>
    <p class="lead">Best movie information site</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New movies</h2>
        <p>
            
We show you the newest movies out there
        </p>
        <p><a class="btn btn-default" href="/Movies/Movie">Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Movie genres</h2>
        <p>Browse by your favorite genre</p>
        <p><a class="btn btn-default" href="/Movies/Genre">Genres &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TOP 10</h2>
        <p>Top 10 rated movies</p>
        <p><a class="btn btn-default" href="/Movies/Top10">Top of the top! &raquo;</a></p>
    </div>
</div>