@model project.Models.MoviesModelView
@using project.Models
@{
    ViewBag.Title = "_panelSite";
    List<Movies> Movie;
    List<Ganers> Ganer;
    if (TempData["MovieList"] != null)
    {
        Movie = ((IEnumerable<Movies>)TempData["MovieList"]).Cast<Movies>().ToList();
    }
    else
    {
        Movie = new List<Movies>();
    }
    if (TempData["GanersList"] != null)
    {
        Ganer = ((IEnumerable<Ganers>)TempData["GanersList"]).Cast<Ganers>().ToList();
    }
    else
    {
        Ganer = new List<Ganers>();
    }
}
        <span id="home_img_holder">
            <a href="/?ref_=nv_home"
               title="Home" class="navbarSprite" id="home_img"></a> <span class="alt_logo">
                <a href="/?ref_=nv_home"
                   title="Home">IMDb</a>
            </span>
        </span>
        <div id="megaMenu">
            <ul id="consumer_main_nav" class="main_nav">
                <li class="spacer"></li>
                <li class="css_nav_item" id="navTitleMenu">
                    <p class="navCategory">
                        <a href="/Movies/Movie">Movies</a>
                    </p>
                    <span class="downArrow"></span>
                    <div id="navMenu1" class="sub_nav">
                        <div class="container">
                            <div class="subNavListContainer">
                                <h5>MOVIES</h5>
                                <ul>
                                    @{foreach (Movies m in Movie)
                                        {
                                            <il class="h4">  @Html.ActionLink(m.Title, "CMovie", "Movies", new { id = m.Idmovie.ToString() }, new { @class = "active" })</il>
                                            <br />

                                        }
                                    }
                                </ul>


                            </div>
                        </div>
                    </div>
                </li>

                <li class="spacer"></li>
                <li class="css_nav_item" id="navNameMenu">
                    <p class="navCategory">
                        <a href="/Movies/Top10">top 10</a>
                    </p>
                    <span class="downArrow"></span>
                    <div id="navMenu2" class="sub_nav">
                        <div class="subNavListContainer">
                            <h5>TOP</h5>
                            <ul>
                                <li>
                                    <a href="/Movies/Top10?num=5">Top 5</a>
                                </li>
                                <li>
                                    <a href="/Movies/Top10?num=50">Top 50</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="spacer"></li>
                <li class="css_nav_item" id="navNewsMenu">
                    <p class="navCategory">
                        <a href="/Movies/Genre">Ganer</a>
                    </p>
                    <span class="downArrow"></span>
                    <div id="navMenu3" class="sub_nav">
                        <div class="subNavListContainer">
                            <h3 style="color:royalblue">All Ganers</h3>
                            <ul>
                                @{foreach (Ganers g in Ganer)
                                    {
                                        <il id="doit" class="h4">  @Html.ActionLink(g.NameGaner, "MoviesPerGaner", "Movies", new { ganer = g.NameGaner }, new { @class = "active" })</il>
                                        <br />

                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="spacer"></li>


                <li class="spacer"></li>
                <li class="spacer"></li>
            </ul>
        </div>
    </div>




    <script>
        if (typeof uet == 'function') {
            uet("ne");
        }
    </script>
    <!-- no content received for slot: navstrip -->
    <!-- begin INJECTED_NAVSTRIP -->
    <div id="injected_navstrip_wrapper" class="injected_slot">
        <script type="text/javascript">
            doWithAds(function () {
                if ('injected_slot' != 'injected_slot') {
                    ad_utils.register_ad('injected_navstrip');
                }
            });
        </script>
        <iframe allowtransparency="true" class="yesScript" data-dart-params="#doubleclick;u=616149922219;ord=616149922219?" frameborder="0" id="injected_navstrip" marginwidth="0" marginheight="0" name="injected_navstrip" onload="doWithAds.call(this, function(){ ad_utils.on_ad_load(this); });" scrolling="no" data-original-width="0" data-original-height="0" width="0" height="0"></iframe>
    </div>
    <div id="injected_navstrip_reflow_helper"></div>
    <script id="injected_navstrip_rendering">
        doWithAds(function () {
            if ('injected_slot' == 'cornerstone_slot') {
                ad_utils.inject_serverside_ad('injected_navstrip', '');
            }
            else if ('injected_slot' == 'injected_slot') {
                ad_utils.inject_ad.register('injected_navstrip');
            } else {
                ad_utils.gpt.render_ad('injected_navstrip');
            }
        }, "ad_utils not defined, unable to render client-side GPT ad or injected ad.");
    </script>
    <!-- End INJECTED_NAVSTRIP -->
</div>


