@model project.ModelView.ListGanersViewModel
@using project.Models
@using project.ModelView
<body id="styleguide-v2" class="fixed">
    <div class="article listo nm">
        <h2>@ViewBag.Title</h2>
        <h4>choose your genre:</h4>
        <table class="table-hover">
            @{foreach (GanersViewModel g in Model.GanersList)
                {
                    <tr>

                        <il id="doit" class="h3">  @Html.ActionLink(g.NameGaner, "MoviesPerGaner", "Movies", new { ganer = g.NameGaner }, new { @class = "active" })</il>

                    </tr>
                    <tr>
                        @{foreach (Movies m in g.movies)
                            {
                                <td>
                                    <img class="poster shadowed"
                                         height=209
                                         width=140
                                         alt=@m.Img.alt
                                         title=@m.Img.title
                                         src=@m.Img.img />
                                </td>
                                <td>
                                    <li>@Html.ActionLink(m.Title, "CMovie", "Movies", new { id = m.Idmovie.ToString() }, new { @class = "active" })</li>
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </table>

    </div>
</body>
