@model project.Models.MoviesModelView
@using project.Models
<body id="styleguide-v2" class="fixed">

    @Html.Partial("_search")
    <div class="article listo nm">
        <h2>@ViewBag.Title</h2>
        <h4>choose your genre:</h4>
        <table class="table-hover">
            @{foreach (String g in ViewBag.ganers)
                {
                    <tr>

                        <il id="doit" class="h3">  @Html.ActionLink(g, "MoviesPerGaner", "Movies", new { ganer = g }, new { @class = "active" })</il>

                    </tr>
                    <tr>
                        @{foreach (Movies m in Model.movies)
                            {
                                <td>
                                    <img class="poster shadowed"
                                         height=209
                                         width=140
                                         alt=@m.Img.alt
                                         title=@m.Img.title
                                         src=@m.Img.img />
                                </td>
                                <td>
                                    <li>@Html.ActionLink(m.Title, "CMovie", "Movies", new { id = m.Idmovie.ToString() }, new { @class = "active" })</li>
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </table>

    </div>
</body>
