@model project.Models.MoviesModelView
@using project.Models

@{
    List<Ganers> Ganer;
    ViewBag.Title = "Genres";
    if (ViewBag.GanersList != null)
    { Ganer = ViewBag.GanersList; }
    else
    { Ganer = new List<Ganers>(); }
}


<body id="styleguide-v2" class="fixed">


    <div class="article listo nm" style="background-image:url('')">
        <h2>@ViewBag.Title</h2>
        <h4>choose your genre:</h4>
        <table class="table-hover">
            @{foreach (Ganers g in Ganer)
                {

                    <td>
                    <tr>
                        <p>

                            <il id="doit" class="h3">  @Html.ActionLink(g.NameGaner, "MoviesPerGaner", "Movies", new { ganer = g.NameGaner }, new { @class = "active" })</il>

                        </p>
                    </tr>
                    <tr>

                        @{foreach (NameMoviesAndIMG n in g.NMAndIMG)
                            {

                                <p class="fixed">
                                <td>
                            <tr>
                                <img class="poster shadowed"
                                     height=50
                                     width=50
                                     alt=@n.NameMovies
                                     title=@n.NameMovies
                                     src=@n.NameIMG />
                            </tr>
                            <tr>
                                <a class="left" href="/Movies/CMovie?id=@n.Idmovie" title=@n.NameMovies>@n.NameMovies</a>
                            </tr>
                            </td>

                            </p>

                        }
                        }

                        </tr>
                        </td>
                        <br />
                    }

            }
        </table>

    </div>
</body>
