
@{
    ViewBag.Title = "Movie";
}


<body id="styleguide-v2" class="fixed">

    <div id="main">
        <div class="article listo nm">

            <h1 class="header">
                New Movies
            </h1>
            @Html.Partial("ShowAllMovies")
        </div>
        <div class=" see-more">
            <div class="outline keyword">
                <br /><p>
                    IMDb is your definitive source for discovering the latest new movies now playing in theaters.
                    Find out what movies are opening this week as well as what movies are in the Box Office Top Ten.
                    Before you go to the movie theater, go to IMDb to watch the hottest trailers,
                    see photos, find release dates, read reviews, and learn all about the full cast and crew. IMDb
                    is your ultimate source for all new movies, and our "In Theaters" page provides you an easy way
                    to decide what to watch today, tomorrow or this weekend. As you find new movies, add them to your
                    Watchlist. The IMDb Watchlist is a quick and easy way to track and remember all the latest movies
                    that you want to see. Remember, IMDb is your source for new movies.
                </p><br />
            </div>

        </div>
    </div>
</body>
