@model project.Models.MoviesModelView
@using project.Models
@{
    ViewBag.Title = "search";
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> parent of 2617073... movies show

<form action="SerchMovies" method="post">
    Search: 
    <input id="Text1" name="name movie" type="text" />
    <br />
    <input id="Submit" type="submit" value="Serch" />
</form>

<<<<<<< HEAD
}

<<<<<<< HEAD
>>>>>>> parent of 2617073... movies show
=======
>>>>>>> parent of 2617073... movies show
<style type="text/css">

    .webgrid {
        margin: 4px;
        border-collapse: collapse;
        width: 90%;
    }

    .header {
        padding: 6px 5px;
        text-align: center;
        background-color: #e8eef4;
        border-bottom: 2px solid #3966A2;
        height: 40px;
        font-weight: bold;
        border-top: 2px solid #D6E8FF;
        border-left: 2px solid #D6E8FF;
        border-right: 2px solid #D6E8FF;
    }
    .webgrid th, .webgrid td {
        border: 1px solid #C0C0C0;
        padding: 5px;
    }

    .alt {
        background-color: #ff0000;
        color: #D6E8FF;
    }

    .product {
        width: 50px;
        font-weight: bold;
    }
</style>
=======
>>>>>>> parent of bf70ebd... 1
@{

    WebGrid obj = new WebGrid(Model.movies);

}

@obj.GetHtml()