@model project.Models.MoviesModelView
@using project.Models
@{
    ViewBag.Title = "search";
}


<form action="SerchMovies" method="post">
    Search: 
    <input id="Text1" name="name movie" type="text" />
    <br />
    <input id="Submit" type="submit" value="Serch" />
</form>

@{

    WebGrid obj = new WebGrid(Model.movies);

}

@obj.GetHtml()