@model project.Models.Movies

<form action="SerchMovies" method="post">
    Search:
    <input id="Text1" name="name movie" type="text" / >
    <br / >
    <input id="Submit" type="submit" value="Serch" / >
</form>