@model asp.net_nvc_movies.ModelView.MoviesModelView

@{
    ViewBag.Title = "search";
}

<form action="SerchMovies" method="post">
    
    <p> <input id="Text1" name="name movie" type="text" />  <input id="Submit1" type="submit" value="Serch" /></p>
</form>

