
@{
    ViewBag.Title = "Top";
}
@Html.Partial("_panelSite")
<body id="styleguide-v2" class="fixed">
    <div id="main">
        <div class="article listo nm">
            <h1>@ViewBag.Title</h1>
            <h4>Top @ViewBag.num rated movies</h4>
            @Html.Partial("ShowAllMovies")
        </div>
    </div>
</body>