USE [master]
GO
/****** Object:  Database [fuckoff]    Script Date: 08/01/2019 20:26:21 ******/
CREATE DATABASE [fuckoff]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fuckoff', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\fuckoff.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'fuckoff_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\fuckoff_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fuckoff].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fuckoff]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 08/01/2019 20:26:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 08/01/2019 20:26:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Email] [nvarchar](128) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Admin] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Accounts] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directors]    Script Date: 08/01/2019 20:26:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors](
	[idmovie] [int] NOT NULL,
	[NameDirector] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Directors] PRIMARY KEY CLUSTERED 
(
	[idmovie] ASC,
	[NameDirector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ganers]    Script Date: 08/01/2019 20:26:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ganers](
	[Idmovie] [int] NOT NULL,
	[NameGaner] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Ganers] PRIMARY KEY CLUSTERED 
(
	[Idmovie] ASC,
	[NameGaner] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imges]    Script Date: 08/01/2019 20:26:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imges](
	[Idimg] [int] IDENTITY(1,1) NOT NULL,
	[img] [nvarchar](max) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[alt] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Imges] PRIMARY KEY CLUSTERED 
(
	[Idimg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 08/01/2019 20:26:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Idmovie] [int] IDENTITY(1,1) NOT NULL,
	[Outline] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Idimg] [int] NOT NULL,
	[Time] [nvarchar](max) NOT NULL,
	[Rating] [int] NOT NULL,
	[Certificate] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Movies] PRIMARY KEY CLUSTERED 
(
	[Idmovie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stars]    Script Date: 08/01/2019 20:26:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stars](
	[Idmovie] [int] NOT NULL,
	[Namestar] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Stars] PRIMARY KEY CLUSTERED 
(
	[Idmovie] ASC,
	[Namestar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_idmovie]    Script Date: 08/01/2019 20:26:22 ******/
CREATE NONCLUSTERED INDEX [IX_idmovie] ON [dbo].[Directors]
(
	[idmovie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Idmovie]    Script Date: 08/01/2019 20:26:22 ******/
CREATE NONCLUSTERED INDEX [IX_Idmovie] ON [dbo].[Ganers]
(
	[Idmovie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Idimg]    Script Date: 08/01/2019 20:26:22 ******/
CREATE NONCLUSTERED INDEX [IX_Idimg] ON [dbo].[Movies]
(
	[Idimg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Idmovie]    Script Date: 08/01/2019 20:26:22 ******/
CREATE NONCLUSTERED INDEX [IX_Idmovie] ON [dbo].[Stars]
(
	[Idmovie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Directors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Directors_dbo.Movies_idmovie] FOREIGN KEY([idmovie])
REFERENCES [dbo].[Movies] ([Idmovie])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Directors] CHECK CONSTRAINT [FK_dbo.Directors_dbo.Movies_idmovie]
GO
ALTER TABLE [dbo].[Ganers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ganers_dbo.Movies_Idmovie] FOREIGN KEY([Idmovie])
REFERENCES [dbo].[Movies] ([Idmovie])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ganers] CHECK CONSTRAINT [FK_dbo.Ganers_dbo.Movies_Idmovie]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Movies_dbo.Imges_Idimg] FOREIGN KEY([Idimg])
REFERENCES [dbo].[Imges] ([Idimg])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [FK_dbo.Movies_dbo.Imges_Idimg]
GO
ALTER TABLE [dbo].[Stars]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stars_dbo.Movies_Idmovie] FOREIGN KEY([Idmovie])
REFERENCES [dbo].[Movies] ([Idmovie])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stars] CHECK CONSTRAINT [FK_dbo.Stars_dbo.Movies_Idmovie]
GO
USE [master]
GO
